@use '../../styles/variables' as *;

.social-links-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.social-icon {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $theme-orange;
  border: 1px solid rgba($theme-orange, 0.3);
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: rgba($theme-dark-gray, 0.5);
  backdrop-filter: blur(5px);

  &:hover {
    color: white;
    border-color: $theme-orange;
    transform: translateY(-10px) scale(1.1);
    @include box-glow;
    background: rgba($theme-orange, 0.2);

    .glow-effect {
      opacity: 1;
      transform: scale(1.5);
    }
  }

  .glow-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle, $glow-color 0%, transparent 70%);
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease;
  }
}