@use "../../styles/variables" as *;

.playground-container {
  @include card-style;
  height: 400px;
  position: relative;
  overflow: hidden;
  background: #000; // 交互实验可以保留黑色背景作为对比
  
  .grid-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .ui-overlay {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    pointer-events: none;
    color: #fff;

    h2 {
      font-size: 1.25rem;
      margin-bottom: 0.5rem !important;
    }

    p {
      font-size: 0.875rem;
      opacity: 0.6;
    }
  }
}