@use '../../styles/variables' as *;

.glitch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glitch {
  position: relative;
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: $theme-orange;
  @include text-glow;

  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
  }

  &::before {
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
  }

  &::after {
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
  }
}

@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i * calc(1 / $steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
      transform: skew(calc(random(10) / 100) + deg);
    }
  }
}

@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i * calc(1 / $steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
      transform: skew(calc(random(10) / 100) + deg);
    }
  }
}