/* Reset and base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background: transparent; /* 确保 body 不会遮挡底层的 fixed 背景 */
  width: 100%;
  height: 100%;
  color: white;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html {
  background: #000000; /* 真正的底层背景色 */
}

#root {
  width: 100%;
}
